body.pagelayout-popup {
    background: none !important;
}

#directions {
  clear: right;
	/* width: 600px; */
	margin: 20px 0;
}

#notepad-fullname {
  float: right;
}

#notepad-header {
  float: left;
  width: 60%;
}


#page-mod-notepad-session #page-header,
#page-mod-notepad-view #page-header {
	display: none;
}

#page-mod-notepad-session .mform .fitem .fitemtitle {
	width: 150px;
	margin-right: 20px;
}

#page-mod-notepad-session .mform .fitem {
	margin-top: 10px;
}

#page-mod-notepad-session .mform .fitem .felement {
	margin-left: 0;
}

#page-mod-notepad-session .mform .fitem .fsubmit {
	text-align: center;
} 

.femptylabel .fitemtitle {
	display: none;
}

#page-mod-notepad-session h2.main {
	background-image: url("images/notebook_60px.png");
	background-repeat: no-repeat;
	padding-left: 65px;
	line-height: 60px; 
	text-align: left;
}

.notepad-session-main li img {
	float: none;
}

fieldset#session-notepad {
	/* background: url(images/lyx.png) 680px 30px no-repeat;  */
}

.mform ol.notepad .fitem .felement {
	margin-left: 0;
}

.mform ol.notepad .fitem .fitemtitle {
	display: none;
}

ol.notepad li {
	margin-bottom: 10px;
	clear: left;
}

.mform .wysiwyg .fitem .fitemtitle {
	display: none;
}

table.probes,
table.activities  {
	width: 800px;
	border: 1px solid #bebebe;
	margin: 20px 0;
}

table.probes td, 
table.activities td {
	border: 1px solid #bebebe;
	vertical-align: top;
	padding-top: 7px;
}

table.probes th,
table.activities th {
	border: 1px solid #bebebe;
	background-color: #dcdcdc;
}

table.probes td.probe-name, 
table.activities td.activity-name {
	width: 230px;
}

table.probes td.probe-usage, 
table.activities td.activity-usage {
	width: 190px;
}

table.probes td.probe-plans, 
table.activities td.activity-plans {
	width: 430px;
}


.mform td.probe-usage .fitem fieldset.felement,
.mform td.activity-usage .fitem fieldset.felement {
	padding-left: 0;
}

table.probes input[type="radio"],
table.activities input[type="radio"] {
	margin-right: 3px;
	margin-left: 7px;
}

.mform table.probes .fitem .felement,
.mform table.activities .fitem .felement {
	width: 95%;
}

.mform table.probes .fitem .fitemtitle,
.mform table.activities .fitem .fitemtitle {
	display: none;
}

ul li.session-prompts {
	float: left;
	width: 45%;
}

.notepad-session-main ul li{
	list-style: none;
	margin-bottom: 6px;
	padding: 2px;
}

.notepad-session-main ul li.odd {
	background-color: #eeeeee;
}



.notepad-session-list,
.notepad-user-list {
	float: right;
	clear: right;
}

.notepad-session-list ul {
  white-space: nowrap;
}

.notepad-session-list ul li {
	display: inline-block;
}



.notepad-session-list ul li:after {
	content: " | ";
	font-weight: bold;
}

.notepad-session-list ul li.last:after {
	content: "";
}


span.session-name  {
	float: left;
	width: 50%;
	clear: left;
	white-space: nowrap;
	overflow: hidden;
}

.notepad-action-links {
    margin: 20px auto;
    text-align: center;
}

.notepad-action-links span {
    padding: 3px 10px;
    margin: 0 5px;
    border: 1px solid #eeeeee;
    background-color: #FAF4D9;
    border-radius: 10px;
}

.notepad-action-links span:hover {
	background-color: #eeeeee;
}

.message {
	color: green;
	margin: 30px 0;
		
}

li.notepad-comparison {
	clear: left;
}
div.notepad-comparison {
	width: 49%;
	float: left;
	padding-top: 4px;
}

.question-response {
	background: #FCFCD7;
	padding: 10px 20px;
}

.wysiwyg-prompt .no-overflow {
	background: #FCFCD7;
	padding: 10px 20px;
	margin-top: 5px;
}

#notepad-comments {
  border: 1px solid #bbbbbb;
  background-color: #eeeeee;
  width: 95%;
  padding: 0 20px 20px 20px;
  margin-top: 30px;
}

 
#page-mod-notepad-session .mform div.notepad-comparison .fitem {
	margin-top: 1px;
}

#page-mod-notepad-session #frametop, 
#page-mod-notepad-session #footerframetop {
	min-width: 750px;
}


/* print css */

.print-notepad {
	float: right;
	text-align: right;
	padding-top: 35px;
	width: 28%;
}

.notepad-print .session {
	border: 1px solid #dddddd;
	padding: 10px;
	margin: 10px 0;
}

table.print {
	width: 750px;
}

table.print td,
table.print th {
	border: 1px solid #dddddd;
}

table.print th {
	background-color: #eeeeee;
}

.notepad-print  li p,
.notepad-print li table {
	margin-top: 15px;
}

table.print td.name {
	width: 300px;
}

table.print td.use {
	width: 30px
}

table.print td.plans {
	width: 400px;
}

#back-link {
	float: right;
	text-align: right;
	width: 250px;
}


/* grade report */
#page-mod-notepad-report table {
	border-collapse: separate;
}

#page-mod-notepad-report .grade-info {
	display: none;
}
#page-mod-notepad-report h2.main {
	margin-bottom: 15px;
}

#page-mod-notepad-report #toggleall {
	/* text-align: right; */
	padding: 0 20px 10px 0;
}

#page-mod-notepad-report .session h3 {
	color: #666;
}

#page-mod-notepad-report h3 a {
	color:
}


#page-mod-notepad-report table.notepad-status {
	border-collapse: collapse; 
}

#page-mod-notepad-report table.notepad-status td, 
#page-mod-notepad-report table.notepad-status th {
	border: 1px solid grey;
	padding: 5px;
}

table.notepad-status td.complete,
table.notepad-status td.ready {
	text-align: center;
}

table.notepad-status-user {
/*
	float: right;
	margin-top: -20px;
	margin-right: 20px;
*/
}

@media print
  {
  body { 
  	font-size: 115% ; 
  }
  
  #back-link,
  #page-header { 
  	display:none; 
  }

}

 
@media (max-width: 1199px) {
	#region-main .mform:not(.unresponsive) .femptylabel .fitemtitle {
	    display: none;
	}
}
